* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    font-family: Arial, sans-serif;
    transition: background 0.5s ease;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    color: white;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.weather{
    margin-top: 20px;
}

#animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.sunny{
    background: linear-gradient(to top, #fceabb, #f8b500)
}

.rainy{
    background: linear-gradient(to top, #4e54c8, #8f94fb);
}

.snowy{
    background: linear-gradient(to top, #e0eafc, #cfdef3);
}
.cloudy{
    background: linear-gradient(to top, #757f9a, #d7dde8);
}

/*Gotas de chuva */
.drop{
    position: absolute;
    width: 2px;
    height: 10px;
    background: rgba(255, 255, 255, 0.7);
    animation: fall 1s linear infinite;
}

@keyframes fall {
    to { 
        transform: translateY(100vh);
        opacity: 0;
    }
}